body {
  background: #6B85D4; 
  background: -webkit-linear-gradient(to right, #A1AFD8, #6B85D4);
  background: linear-gradient(to right, #A1AFD8, #6B85D4); 
  padding-top: 100px
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}